:root{
  --blue: #ccdbfd;
  --darkblue: #b6ccfe;
  --green: #74c69d;
  --darkgreen: #52b788;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Structure*/
html, body{
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  background-color: var(--blue);
}

.container{
  min-height: 100%;
  padding-bottom: 100px;
}

.footer{
  position: relative;
  height: 90px;
  margin-top: -90px;
  clear: both;
}

/*Header*/
.header{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 20px;
  background-color: white;
  box-shadow: var(--shadow);
}

.leftHeader{
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  padding-left: 50px;
}

.rightHeader{
  margin-left: auto;
  padding-right: 50px;
}

.header button{
  height: 50px;
  width: 70px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  border: none;
}

.header button:hover{
  background-color: var(--blue);
}

/*Main*/
.main{
  margin-top: 20px;
  text-align: center;
}

.main button{
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.addbook:hover{
  background-color: ghostwhite;
}

/*Footer*/
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

/*Modal*/
.modal{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.add-book-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 15px;
  height: 400px;
  background-color: white;
}

.input{
  width: 200px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

input[type="text"],[type="number"]{
  font-size: 15px;
  font-weight: bold;
}

.is-read{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

.checkbox{
  height: 20px;
  width: 20px;
  margin-top: 2px;
  accent-color: var(--green);
}

.modal button{
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--green);
  cursor: pointer;
}

.modal button:hover{
  background-color: var(--darkgreen);
}

