:root{
  --green: #74c69d;
  --darkgreen: #52b788;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --white: #FFF6FF;
  --red: #e63946;
  --purple: #cdb4db;
  --darkPurple: #9781a3;
  --darkerPurple: #887393;
  --lightPurple: #B2A7B8;
  --darkestPurple: #4D4352;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Structure*/
html, body{
  height: 100%;
  background-color: var(--purple);
  font-family:Andale Mono, monospace; 
}

.container{
  min-height: 100%;
  padding-bottom: 100px;
}

.footer{
  position: relative;
  height: 90px;
  margin-top: -90px;
  clear: both;
}

/*Header*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 40px;
  margin-bottom: 80px;
  color: var(--white);
}

.logIn, .logOut {
  display: none;
}

.logIn.active, .logOut.active{
  display: flex;
  gap: 10px;
}

.btn{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--darkPurple);
  cursor: pointer;
  border: none;
  color: var(--white);
}

.btn:hover{
  background-color: var(--darkerPurple);
}

/*Main*/
.main{
  text-align: center;
}

.main button{
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: var(--darkPurple);
  cursor: pointer;
  color: var(--white);
}

.addbook:hover{
  background-color: var(--darkerPurple);
}

.bookContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
  gap: 30px;
  padding: 50px 230px;
}

.book{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--darkPurple);
  color: var(--white);
  width: 270px;
  height: 230px;
  border-radius: 15px;
  box-shadow:rgba(0, 0, 0, 0.30) 5px 5px 10px;
}

.remove{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
  cursor: pointer;
}
/*Makes the regular checkbox disapear*/
.switch{
  position: relative;
  display: block;
  width: 80px;
  height: 30px;
  
}

/*The slider bg*/
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B2A7B8;
  transition: .4s;
  border-radius: 34px;
}

.switch input{display: none}

/*The circle inside the slider*/
.slider:before{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 10px;
  bottom: 5px;
  background-color: white;
  transition: .27s;
  border-radius: 50px;
}

.slider:after{
  position: absolute;
  color: var(--white);
  font-weight: bold;
  top: 4px;
  right: 38px;
}

input:checked + .slider{
  background-color: #4D4352;
}

input:checked + .slider:before{
  transform: translateX(40px);
}
input:checked + .slider:after{
  top: 4px;
  left: 25px;
}


/*Footer*/
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--purple);
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

/*Modal*/
.modal{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.add-book-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  height: 500px;
  background-color: var(--white);
}

.form-control{
  width: 200px;
  height: 50px;
  position: relative;
}

.form-control input{
  border-radius: 6px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  padding: 10px;
}

.form-control img{
  position: absolute;
  top: 5px;
  left: 190px;
  visibility: hidden;
}

.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.form-control.error small{
  color: var(--red);
  visibility: visible;
}

.form-control.success input{
  border: 2px solid var(--green); 
  border-color: var(--green);
}

.form-control.error input{
  border: 2px solid var(--red); 
}


.form-control.success img.fa-check-circle{
  visibility: visible;
}

.form-control.error img.fa-exclamation-circle{
  visibility:visible;
}


.is-read{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

.checkbox{
  height: 20px;
  width: 20px;
  margin-top: 2px;
  accent-color: var(--darkPurple);
}

.modal button{
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--purple);
  cursor: pointer;
}

.modal button:hover{
  background-color: var(--darkerPurple);
}

a{
  text-decoration: none;
  color: var(--white);
}

/*Login*/